@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
body {
    height: 100%;
    width: 100%;
    background: radial-gradient(circle farthest-side at center, rgba(94, 255, 124, 1), rgba(215, 44, 153, 1), rgba(0, 255, 255, 1));
    animation-name: colorChange;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    -webkit-animation-name: colorChange;
    -webkit-animation-duration: 2s;
    -webkit-animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
}
@keyframes colorChange {
    0% {
        background: radial-gradient(circle farthest-side at center, rgba(94, 255, 124, 1), rgba(215, 44, 153, 1), rgba(0, 255, 255, 1));
    }
    25% {
        background: radial-gradient(circle farthest-side at center, rgba(215, 44, 153, 1), rgba(0, 255, 255, 1), rgba(94, 255, 124, 1));
    }
    50% {
        background: radial-gradient(circle farthest-side at center, rgba(0, 255, 255, 1), rgba(94, 255, 124, 1), rgba(215, 44, 153, 1));
    }
    75% {
        background: radial-gradient(circle farthest-side at center, rgba(94, 255, 124, 1), rgba(0, 255, 255, 1), rgba(215, 44, 153, 1));
    }
    100% {
        background: radial-gradient(circle farthest-side at center, rgba(215, 44, 153, 1), rgba(0, 255, 255, 1), rgba(94, 255, 124, 1));
    }
    0% {
        background: radial-gradient(circle farthest-side at center, rgba(94, 255, 124, 1), rgba(215, 44, 153, 1), rgba(0, 255, 255, 1));
    }
}
@-webkit-keyframes colorChange {
    0% {
        background: radial-gradient(circle farthest-side at center, rgba(94, 255, 124, 1), rgba(215, 44, 153, 1), rgba(0, 255, 255, 1));
    }
    25% {
        background: radial-gradient(circle farthest-side at center, rgba(215, 44, 153, 1), rgba(0, 255, 255, 1), rgba(94, 255, 124, 1));
    }
    50% {
        background: radial-gradient(circle farthest-side at center, rgba(0, 255, 255, 1), rgba(94, 255, 124, 1), rgba(215, 44, 153, 1));
    }
    75% {
        background: radial-gradient(circle farthest-side at center, rgba(94, 255, 124, 1), rgba(0, 255, 255, 1), rgba(215, 44, 153, 1));
    }
    100% {
        background: radial-gradient(circle farthest-side at center, rgba(215, 44, 153, 1), rgba(0, 255, 255, 1), rgba(94, 255, 124, 1));
    }
    0% {
        background: radial-gradient(circle farthest-side at center, rgba(94, 255, 124, 1), rgba(215, 44, 153, 1), rgba(0, 255, 255, 1));
    }
}
div {
    position: relative;
    text-align: center;
    margin-top: 150px;
    font-family: "Indie Flower", cursive;
    font-size: 200px;
    font-weight: bold;
    font-color: black;
    letter-spacing: 2px;
    display: block;
    z-index: 1;
}
}
